body {
    background-color: lightblue;
}

/* Build Container */
.container {
    background-color: lightgreen;
    width: 1200px;
    margin: 0 auto;
}

.flex-page {
    display: flex;
    gap: 48px;
    /* We add this property to ensure the aside DOES NOT go all the way to the bottom of our page */
    align-items: flex-start;
}


.red {
    background-color: rgb(241, 90, 90);
    /* we use flex:1 to allow this element to take up all available space */
    flex: 1;
}

.blue {
    background-color: rgb(65, 65, 195);
    flex: 0 0 300px;
}

.green {
    background-color: green;
}