body {
    background-color: lightblue;
}

/* Build Container */
.container {
    width: 1200px;
    margin: 0 auto;
}

.container-one {
    background-color: black;
    font-size: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    height: 500px;
}

.el {
    display: flex;
    justify-content: center;
    align-items: center;

}

.el-1 {
    background-color: red;
}

.el-2 {
    background-color: blue;
}

.el-3 {
    background-color: yellow;
}

.el-4 {
    background-color: orange;

}

.el-5 {
    background-color: brown;
}

.el-6 {
    background-color: blueviolet;
    grid-column: 2 / 4;
    grid-row: 1;
}