body {
    background-color: lightblue;
}

/* Build Container */
.container {
    width: 1200px;
    margin: 0 auto;
}

.container-one {
    background-color: black;
    font-size: 24px;
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 15px
}

.el-1 {
    background-color: red;
    height: 100px;
}

.el-2 {
    background-color: blue;
}

.el-3 {
    background-color: yellow;
}

.el-4 {
    background-color: orange;
    height: 100px;

}

.el-5 {
    background-color: brown;
}

.el-6 {
    background-color: blueviolet;
}