/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

COLORS
BLUE:  #306998;
YELLOW: #f1c936;
GREY: #646464
LIGHT-CODE: #eceef5
TEXT COLOR: #343a40

*/

/* Global Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Page Layouts */

.grid-3-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4.8rem;

}

.header {
    padding: 2rem 20rem;
    grid-template-columns: 1fr 2fr;

}

.hero-section {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    max-width: 130rem;
    background-color: red;
    margin: 0 auto;
}

.why-section {
    /* background-color: #1d3f5b; */
    color: black;
    padding: 2.4rem 20rem;
}

.testimonial-section {
    background-color: #f6f7fa;
    padding: 2rem 20rem;
    grid-template-columns: 1fr 2fr;
}



/* General button styles: both normal and small buttons */

.button {
    border-radius: 0.8rem;
    align-self: flex-start;
}

.button:link,
.button:visited {
    background-color: #ffd43b;
    color: black;
    text-decoration: none;
    padding: 0.8rem 1.6rem;
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
    transition: background-color 0.25s;
}

.button:hover,
.button:active {
    background-color: #e6bf35;

}


.button-small:link,
.button-small:visited {
    text-align: center;
    padding: 0.4rem 0.8rem;

}

.button-small:hover,
.button-small:active {
    text-align: center;
    padding: 0.4rem 0.8rem;

}


/* Parent Components */

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    letter-spacing: 1px;
    background-color: #f6f7fa;
    color: #32363a;

}

ul {
    list-style: none;
}

a {
    /* display: inline-block; */
    text-decoration: none;
}

h1 {
    font-family: 'Permanent Marker', 'Inter', sans-serif;
    font-size: 4.8rem;
}

h2 {
    font-size: 3.2rem;
    margin-bottom: 1.6rem;
}

h3 {
    font-size: 2rem;
    margin-top: 1.2rem;
    margin-bottom: 0.4rem;
}

p,
blockquote {
    font-size: 1.6rem;
}

img {
    width: 100%;
    height: auto;
    border-radius: 0.8rem;
    object-fit: contain;
}

/* single image styles */
.light-theme-python {
    background-color: darkgreen;
    /* position: absolute;
    top: 0;
    left: 0; */
    position: absolute;
    top: 38%;
    left: 20%;

}

.dark-theme-html {
    position: absolute;
    bottom: -21%;
    left: -38%;
    width: 35rem;
}

.dark-theme-python {
    background-color: yellow;
}

/* header section styles: includes nav and header */

#navbar-logo-text {
    font-family: 'Permanent Marker', 'Inter', sans-serif;
    font-size: 2.4rem;
    /* color: #306998; */
}

/* nav styles: includes sub-component nav bar styling */
.nav-div ul {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    gap: 9.8rem
}


.nav-div ul li a {
    color: #32363a;
    display: inline-block;
}


.submenu-projects {
    display: none;
}


.nav-div ul li:hover .submenu-projects {
    display: block;
    position: absolute;
    margin-left: -0.5rem;
    z-index: 2;
    background-color: #f6f7fa;
    border-radius: 0.4rem;
}


.nav-div ul li:hover .submenu-projects ul {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
}

.nav-div ul li:hover .submenu-projects ul li {
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.nav-icon {
    font-size: 2rem;
}


/* hero space breakdown */

.hero-images {
    /* background-color: orange; */
    position: relative;
    z-index: 1;
    width: 100%;
}

/* Hero community section styles */
.community-members {
    display: flex;
}

.community-members img {
    height: 5rem;
    width: 5rem;
    margin-top: 2rem;
    object-fit: cover;
    border-radius: 20rem;
    margin-left: -0.8rem;
    margin-bottom: 5px;
    border: 3px solid #f6f7fa;
}

.community-members img:first-child {
    margin-left: 0rem;
}

.community-text p {

    font-weight: bold;
}


.community-text p span {
    color: #f77f00;
}

/* why section styles */


/* 
.why-section-angle {
    background-color: #003049;
    height: 245px;
    width: 110vw;
    position: absolute;
    top: 0;
    left: -8vw;
    transform: rotate(-4.5deg) translateY(-38%);
    z-index: -1;
} */



/* Icon styles */
.ph {
    font-size: 3.6rem;
}

/* Testimonial section styles */

.testimonial-content {
    background-color: #eceef5;
    box-shadow: 0 2rem 3rem 0 rgba(0, 0, 0, 0.09);
    color: black;
    padding: 2.4rem;
    border-radius: 0.8rem;

}

#python-code {
    border-radius: 0.8rem;
}

.testimonial-flex-box {
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.testimonial-title {
    font-family: 'Permanent Marker', 'Inter', sans-serif;
    margin-bottom: 1rem;
}

#simple {
    color: #306998;
    display: inline-block;
    margin-bottom: 0;
}

#elegant {
    color: #e6b400;
    display: inline-block;
    margin-bottom: 0;

}

#popular {
    color: #545454;
    display: inline-block;
    margin-bottom: 0;

}

#small-python {
    position: absolute;
    bottom: 0;
    right: 7.5rem;
    height: 9rem;
    width: 9rem;
}


.testimonial-author {
    margin-top: 1rem;
    font-style: italic;
}

/* Framework section styles */
.framework-section {
    background-color: #003049;
    color: #eceef5;
    padding: 9.6rem 0;
    position: relative;
}


.framework-box {
    display: flex;
    background-color: white;
    color: #32363a;
    flex-direction: column;
    gap: 1.6rem;
    padding: 3.2rem 2.4rem;
    box-shadow: 0 2rem 3rem 0 rgba(0, 0, 0, 0.07);
    border-radius: 1.5rem;
    /* box-shadow: 0 2rem 3rem 0 rgba(0, 0, 0, 0.838); */
}


.framework-details {
    list-style-type: none;
    font-size: 1.5rem;
}

/* Bullet icons in Framework section */
.small-li-icon {
    font-size: 1rem;
}

.framework-title {
    margin: 0;
    align-self: center;
}

.framework-image {
    height: 10rem;
    width: 20rem;
    display: inline-block;
    align-self: center;
}


span {
    display: inline-block;
    margin-bottom: 1.6rem;
}

/* Community Section styles */
.community-section {
    padding: 9.6rem 0;

}

.community-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid #32363a;

}

#html {
    width: 30%;
    /* height: 90%; */
    height: auto;
    justify-self: center;
    padding: 3rem 0;

}

.community-element:link,
.community-element:visited {
    /* height: 12rem; */
    padding: 5.2rem 0;
    margin: 0;
    border: 2px solid #32363a;
    text-align: center;
    font-size: 2rem;
}

/* Need to implement once created */
.community-element:hover,
.community-element:active {}


/* Footer styles */
footer {
    color: whitesmoke;
    font-size: 1.4rem;
}

.grid-6-cols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2.4rem;
    background-color: #18354c;

}

.footer-div {
    height: 35rem;
}