/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

COLORS
BLUE:  #306998;
YELLOW: #f1c936;
GREY: #646464
LIGHT-CODE: #eceef5
TEXT COLOR: #343a40

*/

/* Global Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Page CSS*/

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    letter-spacing: 1px;
    background-color: #fff;
    color: #32363a;
}

.content-container {
    max-width: 120rem;
    margin: 0 auto;
    /* background-color: rgb(197, 199, 200); */
}

.header-section {
    margin-top: 3.2rem;
    padding-bottom: 9.6rem;
}

.why-section {
    background-color: #1d3f5b;
    padding-bottom: 9.6rem;
    position: relative;
    color: #eceef5;
}

.why-section-angle {
    background-color: #1d3f5b;
    height: 245px;
    width: 110vw;
    position: absolute;
    top: 0;
    left: -8vw;
    transform: rotate(-4.5deg) translateY(-38%);
    z-index: -1;
}

#navbar-logo-text {
    font-family: 'Permanent Marker', 'Inter', sans-serif;
    font-size: 2.4rem;
    /* color: #306998; */
}


ul {
    list-style: none;
}

/* .navbar-dropdown-element:hover {
    cursor: pointer;
} */


a {
    /* display: inline-block; */
    text-decoration: none;
}


nav {
    padding: 1rem;
}


.parent-navbar {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    list-style-type: none;
}

.top-nav-elements:link,
.top-nav-elements:visited {
    color: black;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;


}

.top-nav-elements:hover,
.top-nav-elements:visited {}


.grid-3-cols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4.8rem;

}

.grid-2-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    /* height: 500px; */
}

.nav-grid {
    align-items: center;
    margin-bottom: 4.8rem;

}

/* .header-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */

.header-title {
    margin-top: 4.8rem;
    margin-bottom: 2.4rem;
}

.header-text {
    font-size: 1.8rem;
    margin-bottom: 2.4rem;
}


h1 {
    font-family: 'Permanent Marker', 'Inter', sans-serif;
    font-size: 4.4rem;
}

h2 {
    font-size: 3.2rem;
    margin-bottom: 1.6rem;
}

h3 {
    font-size: 2rem;
    margin-top: 1.2rem;
    margin-bottom: 0.4rem;
}

.header-images {
    /* background-color: orange; */
    position: relative;
    z-index: 1;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    /* object-fit: scale-down; */

}

.button {
    border-radius: 0.8rem;
}

.button:link,
.button:visited {
    background-color: #f1c936;
    color: black;
    text-decoration: none;
    padding: 1.2rem 2.4rem;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
}

.button:hover,
.button:active {
    background-color: #d9b531;
    color: black;
    text-decoration: none;
    padding: 1.2rem 2.4rem;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
}

.button-small:link,
.button-small:visited {
    text-align: center;
    padding: 0.4rem 0.8rem;

}

.button-small:hover,
.button-small:active {
    text-align: center;
    padding: 0.4rem 0.8rem;

}


.light-theme-code {
    background-color: darkgreen;
    /* position: absolute;
    top: 0;
    left: 0; */

}

.dark-theme-code {
    background-color: yellow;
    position: absolute;
    top: 7%;
    left: 25%;
}

.ph {
    font-size: 3.6rem;
}

.testimonial-section {
    background-color: lightgreen;
    padding: 9.6rem 0;

}


.testimonial-content {
    background-color: #eceef5;
    color: black;
    padding: 2.4rem;
    border-radius: 0.8rem;

}

#python-code {
    border-radius: 0.8rem;
}

.testimonial-flex-box {
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.testimonial-title {
    font-family: 'Permanent Marker', 'Inter', sans-serif;
    margin-bottom: 1rem;
}


p,
blockquote {
    font-size: 1.6rem;
}

#simple {
    color: #306998;
    display: inline-block;
    margin-bottom: 0;
}

#elegant {
    color: #e6b400;
    display: inline-block;
    margin-bottom: 0;

}

#popular {
    color: #545454;
    display: inline-block;
    margin-bottom: 0;

}

#small-python {
    position: absolute;
    bottom: 0;
    right: 7.5rem;
    height: 9rem;
    width: 9rem;
}


.testimonial-author {
    margin-top: 1rem;
    font-style: italic;
}

.framework-section {
    background-color: lightpink;
    padding: 9.6rem 0;

}

.framework-box {
    display: flex;
    background-color: white;
    flex-direction: column;
    gap: 1.6rem;
    padding: 3.2rem 2.4rem;
    /* box-shadow: 0 2rem 3rem 0 rgba(0, 0, 0, 0.07); */
    box-shadow: 0 2rem 3rem 0 rgba(0, 0, 0, 0.838);

}


.framework-details {
    list-style-type: none;
    font-size: 1.5rem;
}

.small-li-icon {
    font-size: 1rem;
}

.framework-title {
    margin: 0;
    align-self: center;
}

.framework-image {
    height: 10rem;
    width: 20rem;
    display: inline-block;
    align-self: center;
}


span {
    display: inline-block;
    margin-bottom: 1.6rem;
}

.courses-flex-box {
    display: flex;
    flex-direction: column;
    gap: 5rem;

}

.course-1 {
    height: 30rem;
    background-color: lightcoral;
}

.course-2 {
    height: 30rem;
    background-color: bisque;
}

.grid-6-cols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2.4rem;
    background-color: #18354c;

}

footer {
    color: whitesmoke;
    font-size: 1.4rem;
}

.footer-div {
    height: 35rem;
}